.venv
*.egg-info
checkpoints/*
guidance_flight_env/examples/rllib/checkpoints/*
guidance_flight_env/examples/rllib/htmls/*
guidance_flight_env/examples/rllib/images/*
guidance_flight_env/tests/images/*
.idea